Data Analysis with Pandas - Cycle Share Dataset - Aseel Alzweri - 24.May.2021

In [2]:
import pandas as pd
df = pd.read_csv('./trip.csv', error_bad_lines=False)
df.info()

b'Skipping line 50794: expected 12 fields, saw 20\n'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

In [3]:
df.head(10)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
5,436,10/13/2014 10:34,10/13/2014 10:47,SEA00337,808.805,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1974.0
6,437,10/13/2014 11:35,10/13/2014 11:45,SEA00202,596.715,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1978.0
7,438,10/13/2014 11:35,10/13/2014 11:45,SEA00311,592.131,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1983.0
8,439,10/13/2014 11:35,10/13/2014 11:45,SEA00486,586.347,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1974.0
9,440,10/13/2014 11:35,10/13/2014 11:45,SEA00434,587.634,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1958.0

In [4]:
# What is the average trip duration for a borrowed bicycle?
avg_trip_duration = df['tripduration'].mean()
avg_trip_duration

1178.2956753399776

In [7]:
# What’s the most common age of a bicycle-sharer?
common_age =  2021 - df['birthyear'].mode()
common_age

0    34.0
dtype: float64

In [64]:
# Given all the weather data here, find the average precipitation per month, and the median precipitation.
weather_df = pd.read_csv('weather.csv')
weather_df['Date'] = pd.to_datetime(weather_df['Date'], format= "%m/%d/%Y")
weather_df.head(5)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [69]:
# avg_precipitaion = weather_df['Precipitation_In']

# df['month'] = pd.DatetimeIndex(weather_df['Date']).month

avg_precipitation_month = weather_df.groupby('Date')['Precipitation_In'].mean()
median_precipitation_month = weather_df['Precipitation_In'].median()
print(f'avg_precipitation_month{avg_precipitation_month}')
print(f'median_precipitation_month{median_precipitation_month}')

avg_precipitation_monthDate
2014-10-13    0.00
2014-10-14    0.11
2014-10-15    0.45
2014-10-16    0.00
2014-10-17    0.14
              ...
2016-08-27    0.00
2016-08-28    0.00
2016-08-29    0.00
2016-08-30    0.00
2016-08-31    0.00
Name: Precipitation_In, Length: 689, dtype: float64
median_precipitation_month0.0

In [77]:
# What’s the average number of bikes at a given bike station?
station_df = pd.read_csv('station.csv')

print('average number of bikes at a given bike station')
station_df.groupby('name')['current_dockcount'].mean()

average number of bikes at a given bike station

name
12th Ave & E Denny Way                                                    16
12th Ave & E Mercer St                                                    16
12th Ave & E Yesler Way                                                    0
12th Ave & NE Campus Pkwy                                                 16
15th Ave E & E Thomas St                                                  16
15th Ave NE & NE 40th St                                                  16
1st Ave & Marion St                                                       20
2nd Ave & Blanchard St                                                    14
2nd Ave & Pine St                                                         18
2nd Ave & Spring St                                                       18
2nd Ave & Vine St                                                         16
3rd Ave & Broad St                                                        18
6th Ave & Blanchard St                                                    16
6th Ave S & S King St                                                     16
7th Ave & Union St                                                        20
9th Ave N & Mercer St                                                     18
Bellevue Ave & E Pine St                                                  14
Broadway and E Denny Way                                                  18
Burke Museum / E Stevens Way NE & Memorial Way NE                         14
Burke-Gilman Trail / NE Blakeley St & 24th Ave NE                         18
Cal Anderson Park / 11th Ave & Pine St                                    26
Children's Hospital / Sandpoint Way NE & 40th Ave NE                      24
City Hall / 4th Ave & James St                                            20
Dexter Ave & Denny Way                                                     0
Dexter Ave N & Aloha St                                                   18
E Blaine St & Fairview Ave E                                              18
E Harrison St & Broadway Ave E                                            20
E Pine St & 16th Ave                                                      18
Eastlake Ave E & E Allison St                                             18
Fred Hutchinson Cancer Research Center / Fairview Ave N & Ward St         16
Frye Art Museum / Terry Ave & Columbia St                                  0
Harvard Ave & E Pine St                                                   16
Key Arena / 1st Ave N & Harrison St                                       16
King Street Station Plaza / 2nd Ave Extension S & S Jackson St            18
Lake Union Park / Valley St & Boren Ave N                                 16
Mercer St & 9th Ave N                                                     20
NE 42nd St & University Way NE                                            18
NE 47th St & 12th Ave NE                                                  16
NE Pacific St/UW Medical Center                                           16
Occidental Park / Occidental Ave S & S Washington St                      18
PATH / 9th Ave & Westlake Ave                                             18
Pier 66 / Alaskan Way & Bell St                                           18
Pier 69 / Alaskan Way & Clay St                                           24
Pine St & 9th Ave                                                         20
REI / Yale Ave N & John St                                                20
Republican St & Westlake Ave N                                            18
Seattle Aquarium / Alaskan Way S & Elliott Bay Trail                      18
Seattle University / E Columbia St & 12th Ave                             20
Summit Ave & E Denny Way                                                  16
Summit Ave E & E Republican St                                            16
Terry Ave & Stewart St                                                    20
Thomas St & 5th Ave N                                                     18
UW Engineering Library / E Stevens Way NE & Jefferson Rd                  14
UW Intramural Activities Building                                         14
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd    16
UW McCarty Hall / Whitman Ct                                               0
Union St & 4th Ave                                                        18
Westlake Ave & 6th Ave                                                    20
Name: current_dockcount, dtype: int64

In [87]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
# station_df.head(20)
print(' A station is more likely to lose bikes when it`s modified')
station_df.groupby('modification_date').mean('current_dockcount')

 A station is more likely to lose bikes when it`s modified

                         lat        long  install_dockcount  current_dockcount
modification_date
10/29/2015         47.660268 -122.304826          16.000000                0.0
11/2/2015          47.618285 -122.342205          20.000000                0.0
11/9/2015          47.605950 -122.335768          20.000000               18.0
2/20/2015          47.655918 -122.307329          15.500000               14.5
2/23/2015          47.626041 -122.335831          18.000000               16.0
2/24/2015          47.619136 -122.323267          21.333333               22.0
3/13/2015          47.613628 -122.337341          12.000000               20.0
3/18/2016          47.607281 -122.324783          16.000000                0.0
3/24/2015          47.663509 -122.284119          30.000000               24.0
3/27/2015          47.627643 -122.332576          12.000000               16.0
3/4/2015           47.622277 -122.355230          12.000000               16.0
8/9/2016           47.602103 -122.316923          16.000000                0.0

#### Come up with 3 more questions that can be answered with this data set.
- What is the bike station with highest number of bikes?
- What is the max temperature in year 2014?
- What is the bike station that recorded the minimum trip travel? what is the record date ?

In [90]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip_duration, 1178.2956753399776 )
    assert_equal(common_age[0], 34.0)

    print("Success!!!")

test()

Success!!!