Data Analysis with Pandas - Video Game Sales - Aseel Alzweri - 24.May.2021

In [4]:

import pandas as pd

In [5]:
df = pd.read_csv('./vgsales.csv')
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [6]:
#  Which company is the most common video game publisher?
most_common_publisher = df['Publisher'].value_counts().nlargest(1)
most_common_publisher

Electronic Arts    1351
Name: Publisher, dtype: int64

In [7]:
# Whatâ€™s the most common platform?
most_common_platform = df['Platform'].value_counts().nlargest(1)
most_common_platform

DS    2163
Name: Platform, dtype: int64

In [19]:
# What about the most common genre?
most_common_genre = df['Genre'].value_counts().nlargest(1)
most_common_genre

Action    3316
Name: Genre, dtype: int64

In [46]:
# What are the top 20 highest grossing games?
highest_grossing_games = df.sort_values('Rank').head(20)
highest_grossing_games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [9]:
# For North American video game sales, whatâ€™s the median?
# Provide a secondary output showing ten games surrounding the median sales output
# assume that games with same median value are sorted in descending order
median_NA_sales = df['NA_Sales'].median()
print(f'median_NA_sales = {median_NA_sales}')


ten_games_surrounding_median = df[df['NA_Sales']> median_NA_sales].sort_values('NA_Sales').head(5).combine_first(df[df['NA_Sales']< median_NA_sales].sort_values('NA_Sales', ascending = 'False').tail(5)).sort_values('NA_Sales')

ten_games_surrounding_median

median_NA_sales = 0.08

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
137,138.0,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.07,6.21,0.0,0.00,6.28
9606,9608.0,Black Dawn,PS,1996.0,Simulation,Virgin Interactive,0.07,0.05,0.0,0.01,0.13
9610,9612.0,Warriors of Might and Magic,PS,2001.0,Adventure,3DO,0.07,0.05,0.0,0.01,0.13
11559,11561.0,7 Wonders of the Ancient World,PSP,2007.0,Puzzle,Mumbo Jumbo,0.07,0.00,0.0,0.01,0.08
11563,11565.0,Lost in Blue: Shipwrecked,Wii,2008.0,Adventure,Konami Digital Entertainment,0.07,0.00,0.0,0.01,0.08
3303,3305.0,pro evolution soccer 2011,X360,2010.0,Sports,Konami Digital Entertainment,0.09,0.44,0.0,0.07,0.61
6235,6237.0,Mass Effect Trilogy,PC,2012.0,Action,Electronic Arts,0.09,0.16,0.0,0.03,0.28
6656,6658.0,Animal Paradise,DS,2007.0,Simulation,Empire Interactive,0.09,0.14,0.0,0.02,0.25
7564,7566.0,XCOM 2,PC,2016.0,Strategy,Take-Two Interactive,0.09,0.10,0.0,0.02,0.20
11012,11014.0,NERF N-Strike: Double Blast Bundle,Wii,2010.0,Shooter,Electronic Arts,0.09,0.00,0.0,0.00,0.09

In [34]:
# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?


top_selling_game = df.head(1)
top_selling_game

# calculate z 

number_std = (top_selling_game['NA_Sales'] - df['NA_Sales'].mean())/df['NA_Sales'].std()
number_std

0    50.478988
Name: NA_Sales, dtype: float64

In [35]:
# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
average_sales_platforms = df[['Platform','Global_Sales']].groupby('Platform').mean().sort_values('Global_Sales')
average_sales_platforms

          Global_Sales
Platform
PCFX          0.030000
3DO           0.033333
GG            0.040000
TG16          0.080000
NG            0.120000
PSV           0.149952
SAT           0.194162
WS            0.236667
PSP           0.244254
PC            0.269604
DC            0.307115
SCD           0.311667
XB            0.313422
GC            0.358561
DS            0.380254
GBA           0.387470
3DS           0.486169
WiiU          0.572448
PS2           0.581046
PS            0.610920
XOne          0.662254
N64           0.686144
Wii           0.699404
PS3           0.720722
2600          0.729925
X360          0.774672
PS4           0.827679
SNES          0.837029
GEN           1.050370
NES           2.561939
GB            2.606633

### Come up with 3 more questions that can be answered with this data set.

- Which regional market is largest for top 20 games, in terms of sales?
- What genre is most popular in Europe?
- Did the total sales of Global World of Warcraft increased with time?

In [ ]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher[0], 'Electronic Arts' )
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(median_NA_sales[0], 0.08)
    assert_equal(number_std, 50.478988)
    print("Success!!!")

test()